.bgLightGreen {
  background-color: #E8F5E9;
}

.bgLightGolden {
  background-color: #FFF9C4;
}

.bgLightRed {
  background-color: #F8BBD0;
}

.bgLightBlue {
  background-color: #B3E5FC;
}

body {
  text-align: center;
}